#header {
	background: url(../static/header.jpg);
	color: white;
	background-size: cover; 
	background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    text-align: center;
    margin: 0;
    border-radius: 0;
}