#header {
	background: url(../static/header.jpg);
	color: white;
	background-size: cover; 
	background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    text-align: center;
    margin: 0;
    border-radius: 0;
}

.btn-success {
	border-radius: 0;
	background: transparent;
}

.login-button {
	border-radius: 0;
	background: transparent;
	color: rgb(15, 85, 101);
}

.login-button:hover {
	color: white;
}

.main-button {
	border-radius: 0; background-color: transparent; color: rgb(48, 166, 74);
}

#student-button, #teacher-button, #parent-button {
	border-radius: 0; 
	background-color: transparent; 
	color: rgb(48, 166, 74);
	margin: 10px;
}

#student-button:hover, #teacher-button:hover, #parent-button:hover {
	background-color: rgb(48, 166, 74); 
	color: white;
}

/* resource center stuff: needs editing*/
.box {
  background: #ffffff;
  color: #000000;
  width: 700px;
  height: 900px;
  padding: 60px;
  margin: 1em auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:black;

}
.header {
  font: bold 18px/1.5em sans-serif;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
p {
  margin: 1.5em 0;
  padding: 0;
}

.hide{
  display:none;
}

div.sections {
    left:0px;
    top:0px;
    width: 320px;
    padding: 10px;
    border: 2px solid #04CF29;
    border-radius: 0px;
    margin-bottom: 10px;;
}


div.section1 {
    left:0px;
    width: 320px;
    padding: 10px;
    border: 2px solid #04CF29;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-top:25px;
}


a{
  color:black;
}

a:hover{
  color:black;
  text-decoration: none;
}
/* end of resource center */

#secondary > div > div.col-md-4.col-sm-12 > h3{
	margin-top: 20px;
}

.subjects {
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	
}


#secondary > div > div.col-md-8.col-sm-12 > h3 {
	margin-top: 20px;
}


