<!-- OLD WAY -->
<!-- Resource Center: pop-up window when link on home page clicked -->
<!-- <div class="content">
      <div class="box">
        <center><font size=10>Resource Center</font>
          <br><h5>Access to past papers, websites and other resources</h5></center> -->
          <!--main code of dropdown
 /* $(document).on('change', '.div-toggle', function() {
  var target = $(this).data('target');
  var show = $("option:selected", this).data('show');
  $(target).children().addClass('hide');
  $(show).removeClass('hide');
});
$(document).ready(function(){
  $('.div-toggle').trigger('change');
});

Incase you want it to be a dropdown menu:
<center><select class="div-toggle" data-target=".course">
  <option data-group='SHOW' value='0' data-show='.none'>Choose your course</option>
  <option value="CIES" data-show=".cies">Cambridge Secondary </option>
  <option value="IGCSE" data-show=".igcse">IGCSE</option>
  <option value="IB" data-show=".ib">IB</option>
  <option value="ICSE" data-show=".icse">ICSE</option>
</select>
</center>

<div class="course">
  <div class="igcse hide section1">English Literature and Language</div>
  <div class="igcse hide sections">Mathematics</div>
  <div class="igcse hide sections">Sciences</div>
  <div class="igcse hide sections">Humanities and Social Sciences</div>
  <div class="igcse hide sections">Languages</div>
  <div class="igcse hide sections">Arts</div>
</div>

<div class="course">
  <div class="ib hide section1">Language and Literature</div>
  <div class="ib hide sections">Mathematics</div>
  <div class="ib hide sections">Sciences</div>
  <div class="ib hide sections">Individuals and Societies</div>
  <div class="ib hide sections">Language Acquisition</div>
  <div class="ib hide sections">Arts</div>
</div>
      </div>      
    </div>
-->

<!--IGCSE-->
<!-- <img id="clickig" onclick="show('course');" src="static/igcse.jpg" width=150 height=100>
  <div id="course" style="display:none; margin-left:25%">
  <a href="#"><div class="section1">English Literature and Language</a></div>
  <a href="#"><div class="sections">Mathematics</a></div>
  <a href="#"><div class="sections">Sciences</a></div>
  <a href="#"><div class="sections">Humanities and Social Sciences</a></div>
  <a href="#"><div class="sections">Languages</a></div>
  <a href="#"><div class="sections">Arts</a></div>
</div> -->
<!--IB-->
<!-- <img id="clickib" onclick="show('courseib'); 
hide('clickib'); hide('clickig');" src="static/ib.png" width=200 height=80> -->
<!-- <center>
  <div id="courseib" style="display:none; margin-left:25%">
 <a href="#"> <div class="section1">Language and Literature</a></div>
  <a href="#"><div class="sections">Mathematics</a></div>
  <a href="#"><div class="sections">Sciences</a></div>
  <a href="#"><div class="sections">Individuals and Societies</a></div>
  <a href="#"><div class="sections">Language Acquisition</a></div>
 <a href="#"> <div class="sections">Arts</a></div>
</div> -->
<!--Cambridge Secondary: ask ma'am for subject groups-->
<!-- <img id="clickcies" onclick="show('coursecies');" src="static/cies.jpg" width=100 height=100>
  <a href="#"><div id="course" style="display:none; margin-left:25%">
 <a href="#"> <div class="section1">English Literature and Language</a></div>
  <a href="#"><div class="sections">Mathematics</a></div>
  <a href="#"><div class="sections">Sciences</a></div>
  <a href="#"><div class="sections">Humanities and Social Sciences</a></div>
  <a href="#"><div class="sections">Languages</a></div>
 <a href="#"> <div class="sections">Arts</a></div>
</div> -->

<!--ICSE: under construction note-->
<!-- <img id="clickcies" onclick="show('coursecies');" src="static/icse.jpg" width=120 height=100>
  <div id="course" style="display:none; margin-left:25%">
  <div class="section1"><a href="#"></a></div>
  <div class="sections"><a href="#"></a></div>
  <div class="sections"><a href="#"></a></div>
  <div class="sections"><a href="#"></a></div>
  <div class="sections"><a href="#"></a></div>
  <div class="sections"><a href="#"></a></div>
</div> -->